Source: ros-testing-ament-cmake-uncrustify
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-testing-ament-cmake-copyright, ros-testing-ament-cmake-core, ros-testing-ament-cmake-lint-cmake, ros-testing-ament-cmake-test, ros-testing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-ament-cmake-uncrustify
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-testing-ament-cmake-test, ros-testing-ament-uncrustify, ros-testing-ros-workspace
Description: The CMake API for ament_uncrustify to check code against styleconventions using uncrustify.
